body {
  font-family: "sans-serif";
  color: Black;
  padding: 5% 10% 10%;
  text-align: center;
  /* background-color: rgb(219, 217, 217); */
  background-color: rgb(227, 226, 222);
}

@media screen and (max-width: 768px) {
  body {
    padding: 15% 3%;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.1% 10%;
  z-index: 1;
}

.navbarlinks {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .navbar{
    padding: 0.1% 3%;
  }
}

.heading input {
  border: none !important;
  border: 0;
  background-color: white;
  size: 40px;
  /* -webkit-appearance: none; */
}

.heading .form-inline {
  text-align: center !important;
  padding-left: 37%;
}

.heading button {
  margin-left: 3px;
}

@media screen and (max-width: 768px) {
  .heading input{
    padding: 2%;
    padding-left: 5%;
  }
  .heading .form-inline{
    padding-left: 20px;
  }
  .heading button{
    margin: 0;
  }
  .heading .form-group{
    margin: 0;
  }
}

.user-data {
  margin-top: 2%;
}

.user-data .row {
  background-color: white;
  margin: 0.5% 10%;
  padding: 1% 1%;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 2px 2px;
}

.user-data p {
  padding: 0;
  margin: 0;
  /* border-right: 1px solid red; */
}

.user-data .col-lg-3 {
  /* padding: 0;
  margin: 0; */
  border-right: 2px solid rgb(145, 141, 129);
}

@media screen and (max-width: 768px) {
  .user-data .row{
    margin: 2% 0;
  }
}

.rating-graph {
  border-radius: 5px;
  margin: 1% 0;
  padding: 1%;
  background-color: white;
  overflow-y: auto;
  box-shadow: 2px 2px;
}

.character-graph {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 1% 10%;
  padding: 1%;
  background-color: white;
  overflow-y: auto;
  box-shadow: 2px 2px;
}

@media screen and (max-width: 768px) {
  .character-graph {
    margin: 2% 0;
  }
}

.difficulty-chart {
  background-color: white;
  margin: 1% 10%;
  padding: 1%;
  /* border: 1px solid black; */
  border-radius: 5px;
  text-align: center;
  overflow-y: auto;
  box-shadow: 2px 2px;
}

@media screen and (max-width: 768px) {
  .difficulty-chart {
    margin: 2% 0;
  }
}

.tag-graph {
  padding: 1%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px;
}



@media screen and (min-width: 768px){
  .verdict-graph {
    background-color: white;
    padding: 1%;
    padding-bottom: 1.8%;
    border-radius: 5px;
    box-shadow: 2px 2px;
  }
  .col-lg-5 {
    padding-right: 1%;
  }
  .col-lg-7 {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .verdict-graph {
    background-color: white;
    padding: 1%;
    padding-bottom: 1.8%;
    border-radius: 5px;
    box-shadow: 2px 2px;
    margin-bottom: 2%;
  }
  .verdict-graph .col-12{
    padding-right: 0;
    margin: 2% 0;
  }
}

.heatmap {
  background-color: white;
  padding: 3% 1%;
  padding-bottom: 1.8%;
  border-radius: 5px;
  box-shadow: 2px 2px;
  margin: 1% 10%;
  overflow-y: auto;
}
